= search_form_for @search, :url => request.path do |f|
  .field
    = f.label :property_source_nome_eq, 'Site'
    = f.text_field :property_source_nome_eq
  .field
    = f.label :data_publicacao_gteq, 'Data de publicação maior ou maior que'
    = f.text_field :data_publicacao_gteq
  .field
    = f.label :data_publicacao_lteq, 'Data de publicação menor ou maior que'
    = f.text_field :data_publicacao_lteq
  .field
    = f.label :tipo_eq, 'Tipo é'
    = f.text_field :tipo_eq
  .field
    = f.label :cidade_eq, 'Cidade é'
    = f.text_field :cidade_eq
  .field
    = f.label :bairro_eq, 'Bairro é'
    = f.text_field :bairro_eq
  - if @venda
    .field
      = f.label :valor_venda_gteq, 'Valor da venda maior ou igual que'
      = f.text_field :valor_venda_gteq
    .field
      = f.label :valor_venda_lt, 'Valor da venda menor que'
      = f.text_field :valor_venda_lt
  - if @aluguel
    .field
      = f.label :valor_aluguel_gteq, 'Valor do aluguel maior ou igual que'
      = f.text_field :valor_aluguel_gteq
    .field
      = f.label :valor_aluguel_lteq, 'Valor do aluguel menor ou igual que'
      = f.text_field :valor_aluguel_lteq
  .field
    = f.label :valor_condominio_gteq, 'Valor do condomínio maior ou igual que'
    = f.text_field :valor_condominio_gteq
  .field
    = f.label :valor_condominio_lteq, 'Valor do condomínio menor ou igual que'
    = f.text_field :valor_condominio_lteq
  .field
    = f.label :area_util_gteq, 'Área útil maior ou igual que'
    = f.text_field :area_util_gteq
  .field
    = f.label :area_util_lteq, 'Área útil menor ou igual que'
    = f.text_field :area_util_lteq
  .field
    = f.label :dormitorios_gteq, 'Dormitórios maior ou igual que'
    = f.text_field :dormitorios_gteq
  .field
    = f.label :dormitorios_lteq, 'Dormitórios menor ou igual que'
    = f.text_field :dormitorios_lteq
  .field
    = f.label :numero_suites_gteq, 'Número de suites maior ou igual que'
    = f.text_field :numero_suites_gteq
  .field
    = f.label :numero_suites_lteq, 'Número de suítes menor ou igual que'
    = f.text_field :numero_suites_lteq
  .field
    = f.label :numero_vagas_gteq, 'Número de vagas maior ou igual que'
    = f.text_field :numero_vagas_gteq
  .field
    = f.label :numero_vagas_lteq, 'Número de vagas menor ou igual que'
    = f.text_field :numero_vagas_lteq
  .actions
    = f.submit 'Pesquisar'

%table.properties
  %thead
    %tr
      %th= sort_link @search, :property_source_nome, 'Site'
      %th= sort_link @search, :data_publicacao, 'Data'
      %th= sort_link @search, :tipo, 'Tipo'
      %th= sort_link @search, :cidade, 'Cidade'
      %th= sort_link @search, :bairro, 'Bairro'
      %th= sort_link @search, :valor_venda, 'Valor' if @venda
      %th= sort_link @search, :valor_aluguel, 'Valor' if @aluguel
      %th= sort_link @search, :valor_condominio, 'Condomínio'
      %th= sort_link @search, :area_util, 'Área'
      %th= sort_link @search, :dormitorios, 'Quartos'
      %th= sort_link @search, :numero_suites, 'Suítes'
      %th= sort_link @search, :numero_vagas, 'Vagas'
      %th
  %tbody
    - @properties.limit(100).each do |property|
      %tr
        %td= property.property_source.nome
        %td= property.data_publicacao
        %td= property.tipo
        %td= property.cidade
        %td= property.bairro
        %td= property.valor_venda
        %td= property.valor_aluguel
        %td= property.valor_condominio
        %td= property.area_util
        %td= property.dormitorios
        %td= property.numero_suites
        %td= property.numero_vagas
        %td
          %a{:href => '#'} Ver detalhes