%table.imoveis{:border => 1}
  %thead
    %tr 
      %td Data de Publicação
      %td Tipo
      - if @aluguel
        %td Valor do Aluguel
      %td Valor do Condomínio
      - if @venda
        %td Valor da Venda
        %td Valor do m²
      %td Número de Suítes
      %td Número de Vagas
      %td Dormitórios
      %td Andares
      %td Área Útil
      %td UF
      %td Cidade
      %td Bairro
      %td Imagens

  %tbody
    - @imoveis.each do |imovel|
      %tr
        %td
          %a{:href => imovel['url'], :title => imovel.descricao}
            = imovel['data_publicacao']
        %td= imovel['tipo']
        - if @aluguel
          %td= imovel['valor_aluguel']
        %td= imovel['valor_condominio']
        - if @venda
          %td= imovel['valor_venda']
          %td= imovel['valor_m2']
        %td= imovel['numero_suites']
        %td= imovel['numero_vagas']
        %td= imovel['dormitorios']
        %td= imovel['andares']
        %td= imovel['area_util']
        %td= imovel['uf']
        %td= imovel['cidade']
        %td= imovel['bairro']
        %td
          - if imovel.imovel_imagens
            %ul.imagens
              - imovel.imovel_imagens.each do |imagem|
                %li
                  %a{:href => imagem.url, :rel => imovel.id}
                    Ver Imagens